<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bing.RestClient" version="0.8.0" targetFramework="win81" />
  <package id="DeveloperForce.Chatter" version="0.4.6" targetFramework="win81" />
  <package id="DeveloperForce.Common" version="0.4.10" targetFramework="win81" />
  <package id="DeveloperForce.Force" version="0.5.3" targetFramework="win81" />
  <package id="DeveloperForce.Windows8.Login" version="0.0.5" targetFramework="win81" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="win81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="win81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="win81" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="win81" />
  <package id="PortableRest" version="3.0.0" targetFramework="win81" />
  <package id="sqlite-net" version="1.0.8" targetFramework="win81" />
</packages>